<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="shortcut icon" href="/static/images/KickOffNowLogo.png" />
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>KickOffNow!</title>

	<!-- CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/style.css">
	<link rel="stylesheet" type="text/css" href="/static/style_custom.css">

	<!-- JavaScript -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



</head>

<body class="home_body">
	<nav class="navbar navbar-inverse navbar-fixed-top" id="navbarElem">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-3">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<!-- <a class="navbar-brand" style="color: #ECEFF1;" href="../desktop/">Munchr</a> -->
			<a class="centered-navbar" href="../desktop/" style="padding: 7px 15px !important;">
    			<span><img src="/static/images/KickOffNowLogo.png" width="200" height="60" class="d-inline-block align-top" alt=""></span>
  			</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="navbar-collapse-3">
			<ul class="nav navbar-nav navbar-right">
				<li><a class="btn btn-default btn-outline btn-circle" onclick="facebookLogin();" style="z-index: 1;" id="user">Login</a></li>
				<li><a class="btn btn-default btn-outline btn-circle" onclick="facebookLogout();" style="display: none; z-index: 1; background-color: #757575; border-color: #757575;" id="logout">Logout</a></li>

			</ul>
		</div><!-- /.navbar-collapse -->
	</nav><!-- /.navbar -->

	<div id="messageOverlay" class="messageOverlayInactive">
		<div class="panel" style="padding: 40px;height: 160px;text-align: center;">
			You are not logged into Facebook. Please login or return to the <a href="/">homepage</a>.<br><br>
			<button type="button" class="btn btn-lg btn-success" onclick="facebookLogin();">Login</button>
		</div>
	</div>

	{% block content %}
	{% endblock %}

</body>
</html>
